body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    min-height: 100dvh;
    margin: 0;

    color: var(--micro-font-color);
    background-color: var(--micro-background-light);

    font-family: var(--micro-body-font);
}

section {
    margin-bottom: var(--micro-padding-xlarge);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: var(--micro-padding-small);

    color: var(--micro-heading-color);
    font-family: var(--micro-heading-font);
    font-size: var(--micro-font-size-larger);
}

p {
    margin-bottom: var(--micro-padding-small);

    /*
        If a link is inside of a paragraph, we want to use an underline to
        hint that it is clickable.
    */
    a {
        text-decoration: underline;
    }
}

ol,
ul {
    /*
        We indent by 2em so that:
            - There is 1 character of indentation for the list item icon
            - There is 1 character width of spacing to visually separate the list
    */
    padding-left: 1em;
    margin-left: 1em;

    li {
        list-style: disc;
        list-style-position: outside;
    }
}

a {
    color: var(--micro-font-color);

    &:active {
        color: var(--micro-font-color);
    }
}

.container {
    width: 100%;
    max-width: calc(min(80rem, 90%));
    margin: 0 auto;
}

figure {
    position: relative;
}

.oe-image-caption {
    position: absolute;
    bottom: 0;
    right: 0;

    color: var(--micro-font-color-light);
    background-color: var(--micro-background-dark);
    font-size: var(--micro-font-size-xsmall);
    opacity: 0.8;

    /*
        By using "inherit" here, we will inherit the rounding of the image we
        are adding a caption to.
    */
    border-bottom-right-radius: inherit;

    /*
        We only want to add padding to the figure caption if there is text
        content so that the caption can collapse to a zero width element if
        there is nothing to show.

        If we did not have this condition, there would always be a box the size
        of the padding.
    */
    &:has(::content) {
        padding: var(--micro-padding-small);
    }
}

@media screen and (max-width: 500px) {
    .container {
        max-width: 100%;
        padding: 0.75rem;
    }
}
