.oe-footer {
    background: var(--sl-color-primary-950);
    padding: var(--oe-padding-medium) 0px;
    color: var(--oe-font-color-lighter);
    text-align: center;
    margin-top: var(--oe-padding-medium);

    .oe-footer-row {
        margin: var(--oe-padding-small);
        font-size: var(--oe-font-size-small);
        display: flex;
        justify-content: center;

        a {
            text-decoration: none;
            color: var(--oe-font-color-lighter);

            &:hover {
                color: var(--oe-font-color-toned);
            }
        }

        ul {
            margin: 0;
            padding: 0;

            > li {
                display: inline-block;
                margin: 0px var(--oe-padding-medium);
            }
        }

        sl-icon {
            font-size: var(--oe-font-size-medium);
            margin: var(--oe-padding-small);
        }
    }
}
