.oe-footer {
    background: var(--sl-color-primary-950);
    padding: var(--micro-padding-medium) 0px;
    color: var(--micro-font-color-light);
    text-align: center;
    margin-top: var(--micro-padding-medium);

    .oe-footer-row {
        margin: var(--micro-padding-small);
        font-size: var(--micro-font-size-xsmall);
        display: flex;
        justify-content: center;

        a {
            text-decoration: none;
            color: var(--micro-font-color-light);

            &:hover {
                color: var(--micro-font-color-toned);
            }

            &.inline-link {
                text-decoration: underline;
            }
        }

        ul {
            margin: 0;
            padding: 0;

            > li {
                display: inline-block;
                margin: 0px var(--micro-padding-medium);
            }
        }

        sl-icon {
            font-size: var(--micro-font-size-medium);
            margin: var(--micro-padding-small);
        }
    }
}
