/*----- Sections -----*/
body section {
    padding-top: var(--micro-padding-large);
    padding-bottom: var(--micro-padding-large);
}

/*----- Hero -----*/
.oe-hero {
    position: relative;
    width: 100lvw;
    height: auto;
    top: 0;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);

    background-size: cover;
    background-repeat: no-repeat;
    aspect-ratio: 24 / 9;

    .hero-content {
        display: flex block;
        justify-content: space-between;
        flex-wrap: wrap;

        height: 100%;
        max-width: calc(min(80rem, 90%));
        margin: 0 auto;

        & > * {
            align-self: center;
            flex: 0 0 30%;
        }
    }
}

.oe-hero-title {
    /*
        We don't use the theme font color here because theme colors might not
        work nicely with the text shadow.
    */
    color: white;
    text-shadow: 4px 2px 3px black;

    font-size: var(--micro-font-size-xlarge);
    overflow-wrap: break-word;
}

.oe-hero-caption {
    color: var(--micro-font-color-light);
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: var(--micro-background-dark);
    opacity: 0.8;
    padding: var(--micro-padding-small);
    font-size: var(--micro-font-size-xsmall);
}

.progress-container {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;

    & > * {
        flex: 1 1;
        min-width: 400px;
    }
}

/*----- Call to Action  -----*/
.oe-call-to-action {
    font-size: var(--micro-font-size-medium);
    padding: var(--micro-padding-large) 0;
}

/*----- Grid  -----*/
.oe-cards {
    display: grid;
    grid-template-columns: repeat(
        auto-fit,
        minmax(250px, 1fr)
    ); /* Creates responsive columns */
    gap: var(--micro-padding-small); /* Space between grid items */

    h3 {
        font-size: var(--micro-font-size-medium);
    }
}

/*----- Image Column  -----*/
.oe-image-column {
    display: flex;
    align-items: center;
    gap: var(--micro-padding-medium);

    figure {
        margin: 0;
    }

    img {
        max-width: 100%;
    }

    > div,
    > figure {
        flex: 1 1 0;
    }

    &.oe-image-right {
        flex-direction: row-reverse;
    }
}

/*----- Spectrogram Cards -----*/
.oe-spectrogram-card-text {
    padding-top: var(--micro-padding-small);
}

/*----- Smaller screen styles -----*/
@media (max-width: 1024px) {
    .oe-hero-title {
        font-size: var(--micro-font-size-larger);
        max-width: 50%;
        padding: var(--micro-padding-small);
    }
}

@media (max-width: 768px) {
    .oe-hero-title {
        max-width: 40%;
    }

    .oe-call-to-action {
        font-size: var(--micro-font-size-small);
    }

    .oe-image-column {
        flex-direction: column;

        & > * {
            padding: 0;
        }
    }
}

@media (max-width: 425px) {
    .oe-hero-title {
        font-size: var(--micro-font-size-medium);
    }

    .oe-hero .container {
        height: auto;
    }

    .oe-hero-caption {
        /* overriding caption styles to look better on mobile*/
        color: var(--micro-font-color-toned);
        bottom: calc(var(--micro-padding-large) * -1);
        left: 0;
        right: auto;
        background: none;
        opacity: 1;
        padding: 0;
    }
}
