@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import "common";
@import "sections";
@import "footer";
@import "navigation";
@import "theme";

/* Added a second definition to separate templated values from not so syntax
  highlighting will work */
:root {
    /* Shoelace Overrides */
    {{ range $key, $value := .Site.Params.style.ThemeShades }}
    --sl-color-primary-{{ $key }}: rgb({{ $value }});
    {{ end }}

    /*
      These destructured hsl theming variables are needed to style the web
      components to match the host sites theming.

      see: https://github.com/ecoacoustics/web-components/blob/main/src/helpers/themes/theming.css#L28-L30
    */
    --oe-theme-hue: {{ .Site.Params.style.ThemeColor.hue }} !important;
    --oe-theme-saturation: {{ .Site.Params.style.ThemeColor.saturation }} !important;
    --oe-theme-lightness: {{ .Site.Params.style.ThemeColor.lightness }} !important;

    --oe-theme-color: hsl(
      var(--oe-theme-hue),
      var(--oe-theme-saturation),
      var(--oe-theme-lightness),
    );
}
