.oe-navigation {
  font-family: var(--oe-body-font);
  font-size: var(--oe-font-size-small);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  top: 0;
  z-index: 1;
  width: 100%;
  padding-top: var(--oe-padding-medium);
  padding-bottom: var(--oe-padding-medium);
  background-color: var(--oe-background-light);

  .oe-brand {
    font-family: var(--oe-header-font);
    font-size: var(--oe-font-size-medium);
    flex-grow: 1;
    flex-shrink: 1;
    padding-left: var(--oe-padding-medium);
  }

  a {
    color: var(--oe-font-color);
    text-decoration: none;
    padding-left: var(--oe-padding-medium);

    &.active {
      color: var(--oe-theme-color);
    }
  }

  sl-button {
    margin-left: var(--oe-padding-medium);
    margin-right: var(--oe-padding-medium);
  }
}

.oe-home-header .oe-navigation {
  background: linear-gradient(to bottom, black 50%, transparent 100%);
  margin-bottom: calc(50% * -1);

  a {
    color: var(--oe-font-color-bright);
  }
}
