.oe-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: relative;
    top: 0;
    z-index: 1;

    background-color: var(--oe-background-dark);
    font-family: var(--oe-body-font);
    font-size: var(--oe-font-size-small);

    /*
        We set a gap here so that there is a minimum spacing between the left
        and right navigation blocks.
    */
    gap: var(--oe-padding-medium);
    padding: var(--oe-padding-medium);

    & > * {
        display: flex;
        align-items: center;
        gap: var(--oe-padding-medium);
    }

    .oe-brand {
        font-family: var(--oe-header-font);
        font-size: var(--oe-font-size-medium);
        color: var(--oe-font-color-bright);
    }

    a {
        color: var(--oe-font-color);
        text-decoration: none;

        &.active {
            color: var(--oe-theme-color);
        }
    }
}
