header {
    position: fixed;
    width: 100%;

    box-shadow: var(--micro-box-shadow);

    z-index: 4;
}

.oe-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: relative;
    top: 0;
    height: var(--micro-navbar-height);

    background-color: var(--micro-nav-background-color);
    font-family: var(--micro-body-font);
    font-size: var(--micro-font-size-small);
    color: var(--micro-nav-font-color);

    /*
        We set a gap here so that there is a minimum spacing between the left
        and right navigation blocks.
    */
    gap: var(--micro-navbar-padding);
    padding: var(--micro-navbar-padding);

    & > * {
        display: flex;
        align-items: center;
        gap: var(--micro-navbar-padding);

        width: 100%;
    }

    #right-navigation-block {
        justify-content: end;
        flex-wrap: wrap;
    }

    .oe-brand {
        display: flex;
        align-items: center;
        width: 100%;

        font-family: var(--micro-body-font);
        font-size: var(--micro-font-size-medium);

        .oe-navbar-logo-image {
            /* TODO: Find a better way to do this */
            max-height: calc(
                var(--micro-navbar-height) - 2 * var(--micro-navbar-padding)
            );
        }
    }

    a {
        color: var(--micro-nav-font-color);
        text-decoration: none;
    }
}
