/*----- Sections -----*/
body section {
    padding-top: var(--oe-padding-large);
    padding-bottom: var(--oe-padding-large);
}

/*----- Hero -----*/
.oe-hero {
    width: 100lvw;
    height: auto;
    position: relative;
    top: 0;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    background-size: cover;
    background-repeat: no-repeat;
    aspect-ratio: 24 / 9;


    .container {
        align-content: center;
        align-items: center;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-start;
        align-self: center;
        height: 100%;
    }
}

.oe-hero-title {
    /*
        We don't use the theme font color here because theme colors might not
        work nicely with the text shadow.
    */
    color: white;
    text-shadow: 4px 2px 3px black;

    font-size: var(--oe-font-size-xlarge);
    max-width: 30%;
    align-self: center;
}

.oe-hero-caption {
    color: var(--oe-font-color-light);
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: var(--oe-background-dark);
    opacity: 0.8;
    padding: var(--oe-padding-small);
    font-size: var(--oe-font-size-xsmall);
}

/*----- Call to Action  -----*/
.oe-call-to-action {
    font-size: var(--oe-font-size-medium);
    padding: var(--oe-padding-large) 0;
}

/*----- Grid  -----*/
.oe-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Creates responsive columns */
    gap: var(--oe-padding-small); /* Space between grid items */
}

/*----- Image Column  -----*/
.oe-image-column {
  display: flex;
  align-items: center;
  gap: var(--oe-padding-medium);

  figure {
    margin: 0;
  }

  img {
    max-width: 100%;
  }

  > div, > figure {
    flex: 1 1 0;
  }

  &.oe-image-right {
    flex-direction: row-reverse;
  }
}

/*----- Spectrogram Cards -----*/
.oe-spectrogram-card-text {
    padding-top: var(--oe-padding-small);
}

/*----- Smaller screen styles -----*/
@media (max-width: 1024px) {
    .oe-hero-title {
        font-size: var(--oe-font-size-larger);
        max-width: 50%;
        padding: var(--oe-padding-small);
    }
}

@media (max-width: 768px) {
    .oe-hero-title {
        max-width: 95%;
    }
    .oe-call-to-action {
        font-size: var(--oe-font-size-small);
    }
    .oe-image-column {
        flex-direction: column;

        & > * {
          padding: 0;
        }
    }
}

@media (max-width: 425px) {
    .oe-hero-title {
        font-size: var(--oe-font-size-medium);
    }

    .oe-hero .container {
        height: auto;
    }

    .oe-hero-caption {
        /* overriding caption styles to look better on mobile*/
        color: var(--oe-font-color-toned);
        bottom: calc(var(--oe-padding-large)* -1);
        left: 0;
        right: auto;
        background: none;
        opacity: 1;
        padding:0;
    }
}
