<section class="oe-section oe-image-column {{ with .Get "imagePosition" }}oe-image-{{ . }}{{ end }}" {{ with .Get "backgroundColor" }} style="background-color: {{ .  | safeCSS }};" {{ end }}>
  <figure>
    <img
      {{ with .Get "image" }}
      {{ $image := resources.Get . }}
      src="{{ $image.RelPermalink }}"
      {{ end }}
      alt='{{ .Get "alt" }}'
    >
    <figcaption class="oe-image-caption">{{ .Get "caption" }}</figcaption>
  </figure>
  <div class="oe-image-column-text">
    {{ .Inner }}
  </div>
</section>
