<div class="project-progress-widget">
    <sl-card class="progress-card">
        <h2 class="card-heading">Progress So Far</h3>

        <strong class="card-percentage">24%</strong>
        <p class="card-text">12,000 of 50,000 audio clips reviewed</p>

        <sl-button variant="primary" size="large">
            Contribute your verifications
        </sl-button>
    </sl-card>
    {{ .Inner | $.Page.RenderString }}
</div>

<style>
    .project-progress-widget {
        .progress-card {
            display: block;
                text-align: center;

            & > .card-heading {
                font-size: 2rem;
                margin: 0;
            }

            & > .card-percentage {
                font-size: 6rem;
            }

            & > .card-text {
                font-weight: 600;
                color: var(--oe-font-color-toned);
            }
        }
    }
</style>

<script type="module">
    const api = await workbenchApi();
</script>
