<div class="oe-footer">
  <div class="oe-footer-row">
  <a href="#"><sl-icon name="facebook"></sl-icon></a>
  <a href="#"><sl-icon name="twitter-x"></sl-icon></a>
  <a href="#"><sl-icon name="youtube"></sl-icon></a>
  </div>
  <div class="oe-footer-row">
  <ul>
    <li><a href="/contact">Contact us</a></li>
    <li><a href="/about">About Us</a></li>
    <li><a href="#">Data Policy</a></li>
    </ul>
  </div>
  <div class="oe-footer-row">
  <p>Copyright {{ now.Year }}. All rights reserved.</p>
  </div>
</div>
