<div class="oe-footer">
  <div class="oe-footer-row">
    <ul>
      {{- range .Site.Menus.footer }}
        <li>
          <a href="{{ .PageRef }}">{{ .Name }}</a>
        </li>
      {{- end }}
    </ul>
  </div>

  <div class="oe-footer-row">
    <p>Copyright {{ now.Year }}. All rights reserved.</p>
  </div>

  <div class="oe-footer-row">
    <div>
      <p>Created by</p>

      <div class="sponsor-logos">
        <a href="https://openecoacoustics.org/" target="_blank">
          {{ with resources.Get "images/OpenEcoacoustics_horizontal_rgb.svg"  -}}
          <img
            src="{{ .RelPermalink }}"
            alt="OpenEcoacoustics Logo"
            class="sponsor-logo"
          >
          {{- end -}}
        </a>

        {{- with .Site.Params.footer.logo }}
          {{- range . }}
            {{- $logoPath := .image }}
            {{- $logoResource := resources.Get $logoPath }}
            {{- if $logoResource }}
              {{- $altText := .alt | default "Stakeholder Logo" }}
              {{- if .url }}
                <a href="{{ .url }}" target="_blank">
                  <img
                    src="{{ $logoResource.RelPermalink }}"
                    alt="{{ $altText }}"
                    class="sponsor-logo"
                  >
                </a>
              {{- else }}
                <img
                  src="{{ $logoResource.RelPermalink }}"
                  alt="{{ $altText }}"
                  class="sponsor-logo"
                >
              {{- end }}
            {{- end }}
          {{- end }}
        {{- end }}
      </div>

      <p>
        In collaboration with the
        <a class="inline-link" href="https://calldetective.org/">Call Detective</a>
        project.
      </p>
    </div>
  </div>
</div>

<style>
  .sponsor-logos {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
  }

  .sponsor-logo {
    min-height: 4rem;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
  }
</style>
