<!-- To create a unique ID a shuffled sequence of numbers -->
{{ $uniqueId  := delimit (shuffle (seq 1 9)) "" }}

<sl-card class="card-header">
    <div slot="header">
        {{ with .Get "card-title"  -}}
        {{ . }}
        {{- end -}}
    </div>
    <div class="oe-spectrogram">
        <oe-axes x-title="Time (Seconds)" y-title="Frequency (KHz)">
            <oe-indicator>
                <oe-spectrogram
                id="spectrogram-{{ $uniqueId }}"
                {{ with .Get "source" -}}
                src="{{ . }}"
                {{- end -}}
                >
                </oe-spectrogram>
            </oe-indicator>
        </oe-axes>
        <oe-media-controls for="spectrogram-{{ $uniqueId }}"></oe-media-controls>
    </div>
    <div class="oe-spectrogram-card-text">
        {{ .Inner | $.Page.RenderString }}
    </div>
</sl-card>