{{/*
    Before modifying this file, please read the ARDC branding guidelines:
    https://ardc.edu.au/resource/acknowledging-the-ardc/
*/}}
<section class="page-section">
    <div class="sponsor-row page-section-content">
        <div>
            <div class="logo-row">
                <a href="https://openecoacoustics.org/" target="_blank">
                    {{ with resources.Get
                    "images/OpenEcoacoustics_horizontal_rgb.svg" -}}
                    <img
                        src="{{ .RelPermalink }}"
                        alt="OpenEcoacoustics Logo"
                        class="sponsor-logo"
                    />
                    {{- end -}}
                </a>

                <a href="https://doi.org/10.3565/ts8c-ee10" target="_blank">
                    {{ with resources.Get "images/ARDC_logo.svg" -}}
                    <img
                        src="{{ .RelPermalink }}"
                        alt="ARDC Logo"
                        class="sponsor-logo"
                    />
                    {{- end -}}
                </a>

                <a href="https://www.education.gov.au/ncris" target="_blank">
                    {{ with resources.Get "images/NCRIS_logo.svg" -}}
                    <img
                        src="{{ .RelPermalink }}"
                        alt="Australian Government & NCRIS Logo"
                        class="sponsor-logo oe-logo-with-padding"
                        style="
                            --logo-inner-padding: 1rem;
                            --logo-block-padding: 1.5rem;
                        "
                    />
                    {{- end -}}
                </a>

                {{- with .Site.Params.sponsors.logos -}}
                    {{- range . -}}
                        {{- $logoPath := .image -}}
                        {{- $logoResource := resources.Get $logoPath -}}
                        {{- if $logoResource -}}
                        {{- if not .alt -}}
                            {{- errorf "Footer logo %q is missing an alt attribute" $logoPath -}}
                        {{- end -}}

                        {{- if not .url -}}
                            {{- errorf "Footer logo %q is missing a url attribute" $logoPath -}}
                        {{- end -}}

                        <a href="{{ .url }}" target="_blank" rel="noopener noreferrer">
                            <img
                            src="{{ $logoResource.RelPermalink }}"
                            alt="{{ .alt }}"
                            class="sponsor-logo"
                            loading="lazy"
                            >
                        </a>
                        {{- end -}}
                    {{- end -}}
                {{- end -}}

                {{ .Inner }}
            </div>

            <div class="text-row">
                <p>
                    Open Ecoacoustics is supported through a co-investment
                    partnership with the Australian Research Data Commons (ARDC)
                    (<a href="https://doi.org/10.3565/ts8c-ee10" target="_blank">DOI: 10.3565/ts8c-ee10</a>)
                    through the Planet Research Data Commons. The ARDC is
                    enabled by the Australian Government’s National
                    Collaborative Research Infrastructure Strategy (NCRIS).
                </p>
            </div>
        </div>
    </div>
</section>

<style>
    .sponsor-row {
        margin: auto;
        padding: 2rem;

        .logo-row {
            --sponsor-logo-padding: var(--micro-padding-medium);

            display: flex;
            flex-wrap: wrap;
            gap: 3rem;
            align-items: center;
            justify-content: center;

            .sponsor-logo {
                min-height: 4rem;
                margin-top: 1rem;
                margin-bottom: var(--sponsor-logo-padding);
            }

            {{/*
                Some logos include padding inside of their content, meaning that
                if we incorrectly applied margin to them, the logo would appear
                smaller and double padded.

                If your logo already contains padding, add this class to it to
                remove the margin added by the template.
            */}}
            .oe-logo-with-padding {
                --logo-inner-padding: 0.75rem;
                --logo-block-padding: 0.75rem;

                margin-top: 0;
                height: 104px;
                margin-bottom: calc(var(--sponsor-logo-padding) - var(--logo-inner-padding));
                /* Reduce the gap before the logo by applying a negative left margin
                   instead of using transform so it affects layout and flow. */
                margin-left: calc(var(--logo-block-padding) * -1);
            }
        }

        .text-row {
            display: block;
            text-align: center;
            font-size: var(--micro-font-size-xsmall);

            margin: auto;
            width: 60%;
        }
    }
</style>
