{{/*
    Before modifying this file, please read the ARDC branding guidelines:
    https://ardc.edu.au/resource/acknowledging-the-ardc/
*/}}
{{- $isDark := eq (lower (string (.Get "dark"))) "true" -}}
{{- $sectionClass := .Get "class" | default "" -}}
{{- if $isDark -}}
    {{- $sectionClass = print $sectionClass " sponsors-dark" | strings.TrimSpace -}}
{{- end -}}

<section class="page-section {{ $sectionClass }}">
    <div class="sponsors-container page-section-content">
        <div class="common-sponsors-row">
            <a
                href="https://openecoacoustics.org/"
                target="_blank"
                rel="noopener noreferrer"
                class="sponsor-logo-link sponsor-oe"
            >
                {{ with resources.Get "images/OpenEcoacoustics_horizontal_rgb.svg" -}}
                {{ .Content | safeHTML }}
                {{- end -}}
            </a>

            <a
                href="https://doi.org/10.3565/ts8c-ee10"
                target="_blank"
                rel="noopener noreferrer"
                class="sponsor-logo-link sponsor-ardc"
            >
                {{ with resources.Get "images/ARDC_logo.svg" -}}
                {{ .Content | safeHTML }}
                {{- end -}}
            </a>

            <a
                href="https://www.education.gov.au/ncris"
                target="_blank"
                rel="noopener noreferrer"
                class="sponsor-logo-link sponsor-ncris"
            >
                {{ with resources.Get "images/NCRIS_logo.svg" -}}
                {{ .Content | safeHTML }}
                {{- end -}}
            </a>
        </div>

        <div class="sponsor-text-row">
            <p>
                Open Ecoacoustics is supported through a co-investment
                partnership with the Australian Research Data Commons (ARDC)
                (<a rel="noopener" href="https://doi.org/10.3565/ts8c-ee10" target="_blank">DOI: 10.3565/ts8c-ee10</a>)
                through the Planet Research Data Commons. The ARDC is
                enabled by the Australian Government’s National
                Collaborative Research Infrastructure Strategy (NCRIS).
            </p>
        </div>

        <div class="logo-row">
            {{- with .Site.Params.sponsors.logos -}}
                {{- range . -}}
                    {{- $logoPath := .image -}}
                    {{- $logoResource := resources.Get $logoPath -}}
                    {{- if $logoResource -}}
                    {{- if not .alt -}}
                        {{- errorf "Footer logo %q is missing an alt attribute" $logoPath -}}
                    {{- end -}}

                    {{- if not .url -}}
                        {{- errorf "Footer logo %q is missing a url attribute" $logoPath -}}
                    {{- end -}}

                    <a
                        href="{{ .url }}"
                        target="_blank"
                        rel="noopener noreferrer"
                        class="sponsor-logo-link"
                    >
                        <img
                        src="{{ $logoResource.RelPermalink }}"
                        alt="{{ .alt }}"
                        class="sponsor-logo"
                        loading="lazy"
                        >
                    </a>
                    {{- end -}}
                {{- end -}}
            {{- end -}}

            {{ .Inner }}
        </div>
    </div>
</section>

<style>



    .sponsors-container {
        --sponsor-logo-gap: 3em;

        margin: auto;
        padding: 2rem;

        /*
            We use display: contents; here so that the margins from the
            sponsor logos can combine correctly, meaning that if two margins
            overlap, the largest one can be used.
        */
        .sponsor-logo-link {
            display: contents;
        }

        .common-sponsors-row {
            /* Everything is scaled wrt the ARDC logo */
            --ardc-min-width: 200px;
            /* 7 "A"s wide, 2 "A"s high */
            --ardc-aspect-ratio: 7/2; 
            /* the "A" is square */
            --ardc-a-width: 1em; 
            --ardc-a-height: var(--ardc-a-width);
            --ardc-gap-between-partner-logos: calc(var(--ardc-a-width) * 2);
            --ardc-gap-between-logos: calc(var(--ardc-a-width) * 1.5);

            
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            flex-wrap: nowrap;
            

            /* All the spacing in this row has to be custom for ARDC branding */
            gap: 0;
            
            /* set container height to ARDC logo height so everything scales off of it */
            font-size: 300%;
            line-height: calc(var(--ardc-a-height) * 2);
            margin-bottom: var(--ardc-a-height);

            .sponsor-logo-link > * {
                width: calc(max(30%, var(--ardc-min-width)));;
                height: auto;
                display: block;
            }
        
            .sponsor-oe {}

            .sponsor-ardc img,
            .sponsor-ardc svg {
                aspect-ratio: var(--ardc-aspect-ratio);
                scale: 0.90;
                margin-left: var(--ardc-gap-between-partner-logos);
                margin-right: var(--ardc-gap-between-logos);
            }

            .sponsor-ncris img,
            .sponsor-ncris svg {
                scale: 1.33;
            }
        }

        .sponsor-logo {
            --sponsor-logo-margin-left: 3rem;
            --sponsor-logo-margin-right: 3rem;
            --sponsor-logo-margin-top: 1rem;
            --sponsor-logo-margin-bottom: var(--micro-padding-medium);

            height: 80px;

            margin-left: var(--sponsor-logo-margin-left);
            margin-right: var(--sponsor-logo-margin-right);
            margin-top: var(--sponsor-logo-margin-top);
            margin-bottom: var(--sponsor-logo-margin-bottom);
        }

        .logo-row {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            gap: var(--sponsor-logo-gap);

            margin-bottom: var(--ardc-a-height);

            /*
                Some logos include padding inside of their content, meaning that
                if we incorrectly applied margin to them, the logo would appear
                smaller and double padded.

                If your logo already contains padding, add this class to it to
                remove the margin added by the template.
            */
            .oe-logo-with-padding {
                --logo-inner-padding: 0.75rem;
                --logo-block-padding: 0.75rem;

                margin-top: 0;
                margin-bottom: calc(var(--sponsor-logo-padding) - var(--logo-block-padding));
                margin-left: calc(var(--logo-inner-padding) * -1);
            }
        }

        .sponsor-text-row {
            display: block;
            margin: auto;

            text-align: center;
            font-size: var(--micro-font-size-xsmall);
        }
    }


    .sponsors-dark {
        background-color: #000;
        color: rgba(255, 255, 255, 0.7);

        & a {
            color: rgba(255, 255, 255, 0.8);
        }
        & .sponsor-text-row a {
            --sponsors-link-base-opacity: 0.7;
            --sponsors-link-hover-opacity: 0.8;

            opacity: var(--sponsors-link-base-opacity);
            transition: filter 120ms ease, opacity 120ms ease;
        }
        & .sponsor-text-row a:hover {
            filter: brightness(1.15);
            opacity: var(--sponsors-link-hover-opacity);
        }


        /*
            OpenEcoacoustics logo uses .cls-1 for black fills.
            Keep non-black brand colors unchanged.
        */
        .sponsor-oe svg {
            .cls-1,
            [fill="black"], [fill="#000"], [fill="#000000"],
            [stroke="black"], [stroke="#000"], [stroke="#000000"] {
                fill: #fff !important;
                stroke: none;
            }
        }

        .sponsor-ardc svg,
        .sponsor-ardc svg * {
            color: #fff;
            fill: #fff;
            stroke: none;
        }

        /*
            Apply white to everything, then override selected cube faces
        */
        .sponsor-ncris svg,
        .sponsor-ncris svg * {
            color: #fff;
            fill: #fff;
            stroke: none;
        }

        /* cube faces */
        .sponsor-ncris svg > g > g > g:nth-of-type(2) > polygon {
            &:nth-of-type(1),
            &:nth-of-type(2),
            &:nth-of-type(4),
            &:nth-of-type(6) {
                fill: transparent !important;
                stroke: #fff !important;
            }
        }
    }



    /*
        tablet & mobile styles
    */
    @media (max-width: 1300px) {
        .sponsor-logo {
            height: 60px !important;
        }
    }

    @media (max-width: 64em /* 768px */) {
        .common-sponsors-row {
            flex-direction: column !important;

            .sponsor-logo-link > * {
                width: 33vw !important;
            }

            .sponsor-ardc img,
            .sponsor-ardc svg {
                margin-left: auto !important;
                margin-right: auto !important;
                margin-top: var(--ardc-gap-between-partner-logos);
                margin-bottom: var(--ardc-gap-between-logos);
            }

        }
    }
</style>
