{{/*
    Before modifying this file, please read the ARDC branding guidelines:
    https://ardc.edu.au/resource/acknowledging-the-ardc/
*/}}
<section class="page-section">
    <div class="sponsor-row page-section-content">
        <div>
            <div class="logo-row">
                <a
                    href="https://openecoacoustics.org/"
                    target="_blank"
                    rel="noopener noreferrer"
                    class="sponsor-link"
                >
                    {{ with resources.Get
                    "images/OpenEcoacoustics_horizontal_rgb.svg" -}}
                    <img
                        src="{{ .RelPermalink }}"
                        alt="OpenEcoacoustics Logo"
                        class="sponsor-logo"
                    />
                    {{- end -}}
                </a>

                <a
                    href="https://doi.org/10.3565/ts8c-ee10"
                    target="_blank"
                    rel="noopener noreferrer"
                    class="sponsor-link"
                >
                    {{ with resources.Get "images/ARDC_logo.svg" -}}
                    <img
                        src="{{ .RelPermalink }}"
                        alt="ARDC Logo"
                        class="sponsor-logo"
                        style="
                            --ardc-a-width: 2rem; /* 32px */

                            --sponsor-logo-margin-left: calc(var(--ardc-a-width) * 2);
                            --sponsor-logo-margin-right: calc(var(--ardc-a-width) * 1.5);
                        "
                    />
                    {{- end -}}
                </a>

                <a
                    href="https://www.education.gov.au/ncris"
                    target="_blank"
                    rel="noopener noreferrer"
                    class="sponsor-link"
                >
                    {{ with resources.Get "images/NCRIS_logo.svg" -}}
                    <img
                        src="{{ .RelPermalink }}"
                        alt="Australian Government & NCRIS Logo"
                        class="sponsor-logo oe-logo-with-padding"
                        style="
                            --logo-inner-padding: 1rem;
                            --logo-block-padding: 0.8rem;
                        "
                    />
                    {{- end -}}
                </a>

                {{- with .Site.Params.sponsors.logos -}}
                    {{- range . -}}
                        {{- $logoPath := .image -}}
                        {{- $logoResource := resources.Get $logoPath -}}
                        {{- if $logoResource -}}
                        {{- if not .alt -}}
                            {{- errorf "Footer logo %q is missing an alt attribute" $logoPath -}}
                        {{- end -}}

                        {{- if not .url -}}
                            {{- errorf "Footer logo %q is missing a url attribute" $logoPath -}}
                        {{- end -}}

                        <a
                            href="{{ .url }}"
                            target="_blank"
                            rel="noopener noreferrer"
                            class="sponsor-link"
                        >
                            <img
                            src="{{ $logoResource.RelPermalink }}"
                            alt="{{ .alt }}"
                            class="sponsor-logo"
                            loading="lazy"
                            >
                        </a>
                        {{- end -}}
                    {{- end -}}
                {{- end -}}

                {{ .Inner }}
            </div>

            <div class="sponsor-text-row">
                <p>
                    Open Ecoacoustics is supported through a co-investment
                    partnership with the Australian Research Data Commons (ARDC)
                    (<a href="https://doi.org/10.3565/ts8c-ee10" target="_blank">DOI: 10.3565/ts8c-ee10</a>)
                    through the Planet Research Data Commons. The ARDC is
                    enabled by the Australian Government’s National
                    Collaborative Research Infrastructure Strategy (NCRIS).
                </p>
            </div>
        </div>
    </div>
</section>

<style>
    .sponsor-row {
        margin: auto;
        padding: 2rem;

        .logo-row {
            --ardc-a-height: 3.375rem; /* 54px */

            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;

            margin-bottom: var(--ardc-a-height);

            {{/*
                We use display: contents; here so that the margins from the
                sponsor logos can combine correctly, meaning that if two margins
                overlap, the largest one can be used.
            */}}
            .sponsor-link {
                display: contents;
            }

            .sponsor-logo {
                {{/*
                    Remember that margins have a special property where if two
                    margins placed next to each other can overlap.

                    Therefore, because we use margins instead of padding, you can
                    simply worry about each logo instead of needing to subtract the
                    margin of the logo next to it.

                    Note that on mobile devices, the horizontal margins will be
                    removed so that each logo is vertically aligned.
                */}}
                --sponsor-logo-margin-left: 3rem;
                --sponsor-logo-margin-right: 3rem;
                --sponsor-logo-margin-top: 1rem;
                --sponsor-logo-margin-bottom: var(--micro-padding-medium);

                height: 80px;

                margin-left: var(--sponsor-logo-margin-left);
                margin-right: var(--sponsor-logo-margin-right);
                margin-top: var(--sponsor-logo-margin-top);
                margin-bottom: var(--sponsor-logo-margin-bottom);
            }

            {{/*
                Some logos include padding inside of their content, meaning that
                if we incorrectly applied margin to them, the logo would appear
                smaller and double padded.

                If your logo already contains padding, add this class to it to
                remove the margin added by the template.
            */}}
            .oe-logo-with-padding {
                --logo-inner-padding: 0.75rem;
                --logo-block-padding: 0.75rem;

                margin-top: 0;
                margin-bottom: calc(var(--sponsor-logo-padding) - var(--logo-block-padding));
                margin-left: calc(var(--logo-inner-padding) * -1);
            }
        }

        .sponsor-text-row {
            display: block;
            margin: auto;

            text-align: center;
            font-size: var(--micro-font-size-xsmall);
        }
    }

    {{/*
        tablet & mobile styles
    */}}
    @media (max-width: 1300px) {
        .sponsor-logo {
            height: 60px !important;
        }
    }

    @media (max-width: 48em /* 768px */) {
        .sponsor-row {
            flex-direction: column !important;
        }
    }
</style>
